/* import color */
@import "./color.css";
@import "./font.css";
/***/
/* Framework css */
.container-page {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.flex-all {
    display:flex;
}

span {
    color:var(--color-two);
}

.btn-bg a{
  display: inline-block;
  padding:16px 35px;
  font-size:1rem;
  font-family:var(--font-inter);
  font-weight: bold;
  background-color:var(--color-two);
  border-radius:7px;
  color:var(--color-four);
  cursor:pointer;
  text-transform: uppercase;
  text-decoration:none;
 
}

.btn-bg a:hover {
       box-shadow: 0 8px 24px rgba(197, 2, 15, 0.879);
}
/***/